body{
    color: white;
}

.print-btn{
    display: none;
}

.pagebreak{ 
    /* page-break-before: always; */
    page-break-after: always;
}

.header{
    position: static;

    print-color-adjust:exact;
}

.content{
    print-color-adjust:exact;
    padding: 0 50px;
    margin: 0 auto;
}

@page{ 
    /* size: portrait; */
    /* size: landscape; */
    /* size: auto; */
    /* size: A4; */
    /* size: A4 landscape; */
    size: legal;
    /* size: 4in 6in; */
    margin: 0; 
}

/* 9PT */